*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --main-white: #fff;
  --main-black: black;
  --main-color: #fff;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  overflow: hidden;
  background-color: var(--main-white);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--main-color);
}

body.dark {
  --main-white: rgb(62, 59, 59);
  --main-black: rgb(221, 218, 218);
  --main-color: rgb(0, 0, 0);
}

.time-count {
  background-color: var(--main-black);
  box-shadow: 4px 8px 40px rgba (8, 24, 111, 0.2);
  border-radius: 30px;
  width: 800px;
  height: 360px;
  padding: 75px 85px;
}

.time-count__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
  padding: 0 20px;
  margin: 0;
  margin-bottom: 35px;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.time-count__content {
  display: flex;
  justify-content: center;
}

.time-count__item {
  text-align: center;
}

.time-count__val {
  min-width: 81px;
  font-weight: 700;
  font-size: 70px;
  line-height: 82px;
}

.time-count__dots {
  font-size: 48px;
  line-height: 74px;
  text-align: center;
  margin: 0 25px;
}

.time-count__text {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

#toggle-theme-btn {
  position: absolute;
  top: 20px;
  left: 20px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 10px;
  border-radius: 3;
  transition: 0.3s;
}

#toggle-theme-btn:hover {
  --main-white: rgb(62, 59, 59);
}

#toggle-theme-btn img {
  width: 32px;
}